.table {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    /*padding: 0.25em 0.5em;*/
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){
    transition: all 1s ease-in-out;
    background-color: #f2f2f2;
}

.table tr:hover {background-color: #ddd;}
table tr.slide-out {
    transform: translateX(100%);
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
}
.form{
    width: 40%;
}

